---
import PermissionRegister from '../components/PermissionRegister.vue'
import Layout from '../layouts/Layout.astro'
---

<Layout title="PoliApp - Registrar Solicitudes">
  <section>
    <PermissionRegister client:load />
  </section>
</Layout>
