---
import 'primevue/resources/primevue.min.css'
import 'primeicons/primeicons.css'
import 'primevue/resources/themes/lara-dark-teal/theme.css'
import 'primeflex/primeflex.css'
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Poli App" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      :root {
        --primary: 30, 180, 220;
        --primary-dark: 15, 55, 90;
        --secondary-light: 20, 190, 205;
        --secondary-dark: 16, 57, 92;
        --primary-gradient: linear-gradient(
          45deg,
          rgb(var(--primary)),
          rgb(var(--secondary-light)) 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif !important;
        background: #212121;
        background-size: 224px;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
